.venv/
venv/
__pycache__/
*.pyc
.env
.DS_Store

uploads/
data/
output/
storage/uploads/*
storage/results/*
storage/skills/*
uploads/submitted_skills/*
!storage/uploads/.gitkeep
!storage/results/.gitkeep
!storage/skills/.gitkeep
!storage/skills/skills.json
!uploads/submitted_skills/.gitkeep
